<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>/Users/riley/OneDrive/Blueberry Tech/Programming/Blueberry-Tech-Barcode-Editor/Blueberry-Tech-Barcode-Editor.jar</jar>
  <outfile>/Users/riley/OneDrive/Blueberry Tech/Programming/Blueberry-Tech-Barcode-Editor/WindowsRelease/BlueberryTechBarcodeEditor-1.0.8/BlueberryTechBarcodeEditor.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>jre</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>17.0.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>