<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>/Users/riley/OneDrive/Blueberry Tech/Programming/Blueberry-Tech-Barcode-Editor/Blueberry-Tech-Barcode-Editor.jar</jar>
  <outfile>/Users/riley/OneDrive/Blueberry Tech/Programming/Blueberry-Tech-Barcode-Editor/WindowsRelease/BlueberryTechBarcodeEditor.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon></icon>
  <jre>
    <path>JRE</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion></minVersion>
    <maxVersion></maxVersion>
  </jre>
  <versionInfo>
    <fileVersion>1.0.8.0</fileVersion>
    <txtFileVersion>1.0.8</txtFileVersion>
    <fileDescription>A printer utility for Java!</fileDescription>
    <copyright>Blueberry Technologies</copyright>
    <productVersion>1.0.8.0</productVersion>
    <txtProductVersion>1.0.8</txtProductVersion>
    <productName>Blueberry Tech Barcode Editor</productName>
    <companyName>Blueberry Technologies</companyName>
    <internalName>BBTBE</internalName>
    <originalFilename>BlueberryTechBarcodeEditor.exe</originalFilename>
    <trademarks></trademarks>
    <language>ENGLISH_US</language>
  </versionInfo>
</launch4jConfig>